@layer components {
  /* Baseline Badge Styles */
  .badge {
    padding: 0 0.75rem;
    width: fit-content;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* Define the shape of the badge */
  .badge.square {
    border-radius: var(--radius-base);
  }

  .badge.pill {
    border-radius: 624.9375rem;
  }

  /* Define colors of badges */
  .badge.solid.neutral {
    color: var(--text-neutral-primary);
    background-color: var(--bg-neutral-primary);
  }

  .badge.solid.brand {
    color: var(--text-brand-primary);
  }

  .badge.solid.info {
    color: var(--text-info-primary);
  }

  .badge.solid.success {
    color: var(--text-success-primary);
  }

  .badge.solid.warning {
    color: var(--text-warning-primary);
  }

  .badge.solid.error {
    color: var(--text-error-primary);
  }
}
