@layer components {
  .app-shell {
    container-type: inline-size;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
  }

  .mobile-nav-container {
    height: fit-content;
  }

  main {
    background-color: var(--bg-canvas-primary);
    overflow-y: auto;
    height: 100dvh;
  }

  @container (width > 640px) {
    .mobile-nav-container {
      visibility: hidden;
    }
  }
}

@media (min-width: 640px) {
  .app-shell {
    grid-template-columns: 256px 1fr;
    grid-template-areas: "sidebar main";
  }

  .aside-root {
    grid-area: sidebar;
  }

  .mobile-nav-container {
    display: none;
  }

  main {
    grid-area: main;
  }
}
