.main-layout__shell {
  container-type: inline-size;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}

.main-layout__mobile-nav {
  height: fit-content;
}

.main-layout__main {
  background-color: var(--surface);
  overflow-y: auto;
  height: 100dvh;
  transition: background-color 150ms ease;
}

/* TODO: Refactor this so its a div over the page content so blur works properly */
.main-layout__main--overlay {
  filter: blur(0.25rem);
  background-color: var(--overlay);
}

@container (width > 1024px) {
  .main-layout__mobile-nav {
    visibility: hidden;
  }
}

@media (min-width: 1024px) {
  .main-layout__shell {
    grid-template-columns: 256px 1fr;
    grid-template-areas: "sidebar main";
  }

  .main-layout__mobile-nav {
    display: none;
  }

  .main-layout__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
