@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
