/* Solid Variant - Status Colors */
.badge.solid.neutral {
  color: var(--text-on-neutral);
  background-color: var(--bg-neutral);
}

.badge.solid.brand {
  color: var(--text-on-brand);
  background-color: var(--bg-brand);
}

.badge.solid.info {
  color: var(--text-on-info);
  background-color: var(--bg-info);
}

.badge.solid.success {
  color: var(--text-on-success);
  background-color: var(--bg-success);
}

.badge.solid.warning {
  color: var(--text-on-warning);
  background-color: var(--bg-warning);
}

.badge.solid.error {
  color: var(--text-on-error);
  background-color: var(--bg-error);
}

/* Soft Variant */
.badge.soft.neutral {
  color: var(--text-on-neutral-soft);
  background-color: var(--bg-neutral-soft);
}

.badge.soft.brand {
  color: var(--text-on-brand-soft);
  background-color: var(--bg-brand-soft);
}

.badge.soft.info {
  color: var(--text-on-info-soft);
  background-color: var(--bg-info-soft);
}

.badge.soft.success {
  color: var(--text-on-success-soft);
  background-color: var(--bg-success-soft);
}

.badge.soft.warning {
  color: var(--text-on-warning-soft);
  background-color: var(--bg-warning-soft);
}

.badge.soft.error {
  color: var(--text-on-error-soft);
  background-color: var(--bg-error-soft);
}

/* Outline */
.badge.outline {
  border-width: 0.0625rem;
  border-style: solid;
}

.badge.outline.neutral {
  color: var(--text-neutral);
  border-color: var(--border-neutral);
}
.badge.outline.brand {
  color: var(--text-brand);
  border-color: var(--border-brand);
}

.badge.outline.info {
  color: var(--text-info);
  border-color: var(--border-info);
}

.badge.outline.success {
  color: var(--text-success);
  border-color: var(--border-success);
}
.badge.outline.warning {
  color: var(--text-warning);
  border-color: var(--border-warning);
}
.badge.outline.error {
  color: var(--text-error);
  border-color: var(--border-error);
}
