.demo-root {
  border: 1px solid red;
  border-radius: 8px;
}

.demo-copy {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 724px;
  border-bottom: 1px solid red;
}

.demo-copy > h2 {
  font-size: 24px;
  font-weight: 500;
}

.demo-area {
  display: flex;
  gap: 12px;
  padding: 16px;
}
