@layer components {
  .banner {
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 8px;
    position: relative;

    svg {
      color: var(--icon-primary);
    }
  }

  .banner-copy {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
  }

  p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .hideBanner {
    display: none;
  }

  .dismissButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -10px;
    right: -10px;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    border: none;
    background-color: unset;
    cursor: pointer;
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
}
