/* TODO: Need secondary text colors for all semantics */
/* TODO: Need to fill out icon colors to mirror text tokens */

.banner.neutral {
  background-color: var(--bg-neutral-soft);

  h4 {
    color: var(--text-primary);
  }

  p {
    color: var(--text-secondary);
  }

  svg {
    stroke: var(--icon-neutral-primary);
  }
}

.banner.brand {
  background-color: var(--bg-brand-soft);

  h4 {
    color: var(--text-brand);
  }

  p {
    color: var(--text-brand-secondary);
  }

  svg {
    stroke: var(--icon-brand-primary);
  }
}

.banner.info {
  background-color: var(--bg-info-soft);
}

.banner.success {
  background-color: var(--bg-success-soft);
}

.banner.warning {
  background-color: var(--bg-warning-soft);
}

.banner.error {
  background-color: var(--bg-error-soft);
}

/* Styles for optional dismiss button */
.dismissButton.neutral {
  background-color: var(--bg-neutral-soft);
  border: 1px solid var(--border-neutral);

  svg {
    stroke: var(--icon-neutral-primary);
  }
}

/* TODO: Need to revisit the border scale. Right now to accommodate badges this border is very loud */
.dismissButton.brand {
  background-color: var(--bg-brand-soft);
  border: 1px solid var(--border-brand);

  svg {
    stroke: var(--icon-brand-primary);
  }
}

.dismissButton.info {
  background-color: var(--bg-info-soft);
  border: 1px solid var(--border-info);

  svg {
    stroke: var(--icon-info-primary);
  }
}

.dismissButton.success {
  background-color: var(--bg-success-soft);
  border: 1px solid var(--border-success);

  svg {
    stroke: var(--icon-success-primary);
  }
}

.dismissButton.warning {
  background-color: var(--bg-warning-soft);
  border: 1px solid var(--border-warning);

  svg {
    stroke: var(--icon-warning-primary);
  }
}

.dismissButton.error {
  background-color: var(--bg-error-soft);
  border: 1px solid var(--border-error);

  svg {
    stroke: var(--icon-error-primary);
  }
}
