/* TODO: Add solid, subtle, and outlines as variants options for Banner component */

.banner.neutral {
  background-color: var(--bg-neutral-subtle);

  h4 {
    color: var(--text-neutral);
  }

  p {
    color: var(--text-neutral-muted);
  }

  svg {
    stroke: var(--icon-neutral);
  }
}

.banner.brand {
  background-color: var(--bg-brand-subtle);

  h4 {
    color: var(--text-brand);
  }

  p {
    color: var(--text-brand-muted);
  }

  svg {
    stroke: var(--icon-brand);
  }
}

.banner.info {
  background-color: var(--bg-info-subtle);

  h4 {
    color: var(--text-info);
  }

  p {
    color: var(--text-info-muted);
  }

  svg {
    stroke: var(--icon-info);
  }
}

.banner.success {
  background-color: var(--bg-success-subtle);

  h4 {
    color: var(--text-success);
  }

  p {
    color: var(--text-success-muted);
  }

  svg {
    stroke: var(--icon-success);
  }
}

.banner.warning {
  background-color: var(--bg-warning-subtle);

  h4 {
    color: var(--text-warning);
  }

  p {
    color: var(--text-warning-muted);
  }

  svg {
    stroke: var(--icon-warning);
  }
}

.banner.error {
  background-color: var(--bg-error-subtle);

  h4 {
    color: var(--text-error);
  }

  p {
    color: var(--text-error-muted);
  }

  svg {
    stroke: var(--icon-error);
  }
}

/* Styles for optional dismiss button */
.dismissButton.neutral {
  background-color: var(--bg-neutral-subtle);
  border: 1px solid var(--border-neutral-muted);

  svg {
    stroke: var(--icon-neutral);
  }
}

/* TODO: Need to revisit the border scale. Right now to accommodate badges this border is very loud */
.dismissButton.brand {
  background-color: var(--bg-brand-subtle);
  border: 1px solid var(--border-brand-muted);

  svg {
    stroke: var(--icon-brand);
  }
}

.dismissButton.info {
  background-color: var(--bg-info-subtle);
  border: 1px solid var(--border-info-muted);

  svg {
    stroke: var(--icon-info);
  }
}

.dismissButton.success {
  background-color: var(--bg-success-subtle);
  border: 1px solid var(--border-success-muted);

  svg {
    stroke: var(--icon-success);
  }
}

.dismissButton.warning {
  background-color: var(--bg-warning-subtle);
  border: 1px solid var(--border-warning-muted);

  svg {
    stroke: var(--icon-warning);
  }
}

.dismissButton.error {
  background-color: var(--bg-error-subtle);
  border: 1px solid var(--border-error-muted);

  svg {
    stroke: var(--icon-error);
  }
}
