/* TODO: Add solid, subtle, and outlines as variants options for Banner component */

.banner.subtle.neutral {
  background-color: var(--bg-neutral-subtle);

  h4 {
    color: var(--text-on-neutral-subtle);
  }

  p {
    color: var(--text-on-neutral-muted);
  }

  svg {
    stroke: var(--icon-on-neutral-subtle);
  }
}

.banner.subtle.brand {
  background-color: var(--bg-brand-subtle);

  h4 {
    color: var(--text-on-brand-subtle);
  }

  p {
    color: var(--text-on-brand-muted);
  }

  svg {
    stroke: var(--icon-on-brand-subtle);
  }
}

.banner.subtle.info {
  background-color: var(--bg-info-subtle);

  h4 {
    color: var(--text-on-info-subtle);
  }

  p {
    color: var(--text-on-info-muted);
  }

  svg {
    stroke: var(--icon-on-info-subtle);
  }
}

.banner.subtle.success {
  background-color: var(--bg-success-subtle);

  h4 {
    color: var(--text-on-success-subtle);
  }

  p {
    color: var(--text-on-success-muted);
  }

  svg {
    stroke: var(--icon-on-success-subtle);
  }
}

.banner.subtle.warning {
  background-color: var(--bg-warning-subtle);

  h4 {
    color: var(--text-on-warning-subtle);
  }

  p {
    color: var(--text-on-warning-muted);
  }

  svg {
    stroke: var(--icon-on-warning-subtle);
  }
}

.banner.subtle.error {
  background-color: var(--bg-error-subtle);

  h4 {
    color: var(--text-on-error-subtle);
  }

  p {
    color: var(--text-on-error-muted);
  }

  svg {
    stroke: var(--icon-on-error-subtle);
  }
}

/* Styles for optional dismiss button */
.dismissButton.neutral {
  background-color: var(--bg-neutral-subtle);
  border: 1px solid var(--border-neutral-muted);

  svg {
    stroke: var(--icon-on-neutral-subtle);
  }
}

/* TODO: Need to revisit the border scale. Right now to accommodate badges this border is very loud */
.dismissButton.brand {
  background-color: var(--bg-brand-subtle);
  border: 1px solid var(--border-brand-muted);

  svg {
    stroke: var(--icon-on-brand-subtle);
  }
}

.dismissButton.info {
  background-color: var(--bg-info-subtle);
  border: 1px solid var(--border-info-muted);

  svg {
    stroke: var(--icon-on-info-subtle);
  }
}

.dismissButton.success {
  background-color: var(--bg-success-subtle);
  border: 1px solid var(--border-success-muted);

  svg {
    stroke: var(--icon-on-success-subtle);
  }
}

.dismissButton.warning {
  background-color: var(--bg-warning-subtle);
  border: 1px solid var(--border-warning-muted);

  svg {
    stroke: var(--icon-on-warning-subtle);
  }
}

.dismissButton.error {
  background-color: var(--bg-error-subtle);
  border: 1px solid var(--border-error-muted);

  svg {
    stroke: var(--icon-on-error-subtle);
  }
}
