@layer component {
  .mobile-nav-root {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--on-surface);
    height: 40px;
    border-top: 1px solid var(--border-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .start-container,
  .end-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;

    path {
      stroke: var(--icon-primary);
    }
  }

  .start-container:hover,
  .end-container:hover {
    background-color: var(--on-surface-hover);
  }

  .start-container:focus,
  .end-container:focus {
    outline: 2px solid var(--border-focus);
    outline-offset: -0.5rem;

    svg {
      pointer-events: none;
    }
  }

  .start-container {
    border-right: 1px solid var(--border-primary);

    svg {
      stroke: var(--icon-primary);
    }
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  .end-container {
    border: none;
    border-left: 1px solid var(--border-primary);
    background-color: unset;

    svg {
      stroke: var(--icon-primary);
    }
  }

  .mobile-nav-expanded-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border-top: 1px solid var(--border-primary);
    text-decoration: none;
    color: var(--text-secondary);
    margin: 0 39px;
    border-left: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
    min-height: 32px;
  }

  .mobile-nav-expanded-links:focus {
    outline: 2px solid var(--border-focus);
    outline-offset: -4px;
  }

  .mobile-nav-expanded-links:last-child {
    border-top: unset;
  }
}
