@import "tailwindcss";

/* Simple CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme {
  --default-font-family: "Switzer", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}
