@layer components {
  .app-shell {
    container-type: inline-size;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
  }

  @container (width > 640px) {
    .mobile-nav-container {
      visibility: hidden;
    }
  }
}

@media (min-width: 640px) {
  .app-shell {
    grid-template-columns: 256px 1fr;
  }
}
