@layer components {
  .aside-root {
    background-color: var(--bg-surface-primary);
    border-right: 1px solid var(--border-secondary);
    width: 256px;
    height: 100vh;
    padding: 1rem;
  }
}
