/* Base Styles */
.demo-container {
  border-radius: 12px;
  background-color: var(--on-surface);
  border: 1px solid var(--border-neutral-subtle);
}

.demo-copy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-bottom: 1px solid var(--border-neutral-subtle);
  padding: 0.75rem;

  h2,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h2 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--text-neutral);
  }

  p {
    font-size: 0.875rem;
    color: var(--text-neutral-muted);
  }
}

@media (min-width: 640px) {
  .demo-container {
    border-radius: 1.5rem;
  }

  .demo-copy {
    gap: 4px;
    padding: 1.5rem;

    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
